<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://unpkg.com/bootstrap@4.3.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ FONT }}">

  <title>{{ TITLE }}</title>
  <meta name="description" content="{{ DESCRIPTION }}">

  <meta property="og:site_name" content="{{ SITE_NAME }}"/>
  <meta property="og:title" content="{{ TITLE }}"/>
  <meta property="og:description" content="{{ DESCRIPTION }}"/>
  <meta property="og:image" content="{{ IMAGE }}">
  <meta property="og:url" content="{{ URL }}">

  <style>
    body {
      background: #333 no-repeat center center;
      background-image: url("{{ IMAGE }}");
      background-size: cover;
      height: 100vh;
      color: #fff;
    }
    form {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    form button {
      margin: 0 .75em;
    }

    #main {
      background-color: rgba(0,0,0,0.5);
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1em;
    }
    #center {
      background: rgba(0,0,0,0.25);
      padding: 2em 0;
      max-width: 620px;
      text-align: center;
    }
    #footer {
      position: absolute;
      bottom: 0;
    }

    h1,
    h2,
    h3 {
      color: #fff;
      font-family: "{{ FONT }}", serif;
      text-shadow: 0 0 2px #555;
    }
    h3 {
      margin: 2em 0;
    }

    form #borcan-cu-miere {
      display: none;
    }
    form #email {
      width: 65%;
      max-width: 300px;
    }
  </style>
</head>
<body>

  <div id="main">
    <div id="center">
      <h1>Our website is ready really soon</h1>
      <h3>Want to be the first to know when we launch? Sign up below, it only takes 30 seconds or so.</h3>

      <form action="{{ FORM }}" method="POST">
        <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required>
        <input type="text" name="borcan-cu-miere" id="borcan-cu-miere">
        <button type="submit" class="btn btn-success">Send</button>
      </form>
    </div>

    <div id="footer">
      <p id="js-form-response" class="alert"></p>
    </div>
  </div>

  <script>
    (() => {
      const form = document.querySelector('form');
      const formResponse = document.querySelector('#js-form-response');

      form.onsubmit = e => {
        e.preventDefault();

        // Prepare data to send
        const formData = {};
        const formElements = Array.from(form);
        formElements
          .filter(input => !!input.name)
          .map(input => (formData[input.name] = input.value));

        // Add the website
        formData['website'] = "{{ URL }}";

        if (!!formData["borcan-cu-miere"]) {
          return false;
        }

        // Log what our lambda function will receive
        console.log(JSON.stringify(formData));

        // Construct an HTTP request
        var xhr = new XMLHttpRequest();
        xhr.open(form.method, form.action, true);
        xhr.setRequestHeader('Accept', 'application/json; charset=utf-8');
        xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');

        // Send the collected data as JSON
        xhr.send(JSON.stringify(formData));

        // Callback function
        xhr.onloadend = response => {
          if (response.target.status === 200) {
            // The form submission was successful
            form.reset();
            formResponse.classList.add('alert-success');
            formResponse.innerHTML = 'Thank you! You have been subscribed.';
            formResponse.style.display = 'block';
          } else {
            // The form submission failed
            formResponse.classList.add('alert-warning');
            formResponse.innerHTML = 'Something went wrong :(';
            formResponse.style.display = 'block';
          }

          setTimeout(function() {
            formResponse.innerHTML = '';
            formResponse.style.display = 'none';
          }, 5000);
        };
      };
    })();
  </script>

</body>
</html>
